:root {
    --red: #8c251d;
}

*:focus {
    outline: none;
}

button:focus {
    outline: none;
}

body {
    background: black;
    color: white;
}

h1, h2 {
    font-family: 'Staatliches', cursive;
    line-height: 0.8em;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 4em;
}

.page {
    margin-top: 1em;
    display: none;
}

#mm-title {
    margin-top: 1em;
}

.page iframe, .page video {
    width: 100%;
    height: 600px;
}

.starting-title {
    margin-top: 12em;
}

.input-container {
    text-align: center;
    margin-top: 1em;
}

.input-container > input {
    border: 1.5px var(--red) solid
}

.button-container {
    width: 100%;
    text-align: right;
}

.center {
    text-align: center;
}

.creepy-button {
    background: none;
    color: white;
    border: 1.5px grey solid;
    padding: .5em 1em .5em 1em;
    border-radius: 1em;
}

.creepy-button:hover {
    color: var(--red);
    border: var(--red) 1.5px solid;
}

#warning {
    color: var(--red);
    text-align: center;
    margin-top: 1.5em;
    border: 1.5px var(--red) solid;
    padding: .5em;
    border-radius: 1em;
    display: none;
}